//META{"name":"Megumin-is-Love-NSFW","description":"Megumin Theme","author":"Shinano","version":"0.0.2"}*//

.app { background-image: url(https://i.imgur.com/qrDNJd1.jpg) !important; background-size: cover !important; }

/* fix not having a background image anymore */
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: rgba(0,0,0, 0.25) !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-20RVFW {
  background: rgba(0,0,0, 0.3) !important;
}

#app-mount,
.app .layers .layer,
.app .layers,
.typing,
.content,
.flex-spacer,
.container-RYiLUQ,
.messages-wrapper,
.popout-menu, /* Server Menu (Popout) */
.popout-menu-item, /* Server Menu (Popout item) */
#friends, /* Friends Section */
.container-2OU7Cz,
#rtc-connection,
.ui-standard-sidebar-view,
.content-region .cm-s-material .CodeMirror-gutters {
	background-color: transparent !important;
}

.titleBar-3_fDwJ { margin-top: 0px; padding-top: 4px; }

.messages-wrapper,
.friends-table,
.messages-wrapper,
#friends .friends-header,
.titleBar-3_fDwJ,
.content-region /* Settings - Right Side */ {
	background-color:  rgba(0,0,0,0.70) !important;
}

.channel-members,
.channels-3g2vYe /* Direct Messages Side Bar */ {
	background-color: rgba(0,0,0,0.65) !important;
}

.guilds-wrapper /* Guilds (Left SideBar) */,
.title-qAcLxz,
.headerBar-cxbhPD, /* Friends Section Header */
.sidebar-region, /* Settings - Left Side */
.chat form {
	background-color: rgba(0,0,0,0.60) !important;
}

.chat form { /* Chat Box */
	margin: 0px !important;
	padding-left: 20px;
	padding-right: 20px;
	/* height: 106px; */
	padding: 6.5px 20px;
	display: flex !important;
	flex-shrink: 0 !important;
	margin: 0 20px;
	position: relative;
}

.channel-members h2 {
		width: 50%;
		color: #FFF !important;
		background-color: rgba(153, 0, 51, 0.8);
		text-align: center;
		border-radius: 4px;
		border-bottom:0px solid #000;
		border-top:0px solid #000;
		border-left: 15px;
		border-right: 15px;
		padding-top: 2.5px;
	  padding-bottom: 2.5px;
		margin: 29px auto 9px;
}

.channel-members .member:hover{
    background: rgba(153, 0, 51, 0.8) !important;
}


.popout-menu .popout-menu-item.leave {
	background: rgba(153, 0, 51, 0.8) !important;
	color: #fff !important;
}

.popout-menu .popout-menu-item {
	background-color: rgba(153, 0, 51, 0.8) !important;
	color: #b9bbbe !important;
}

.popout-menu .popout-menu-separator {
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(153, 0, 51, 0.8);
}

#friends .friends-table {
	margin-top: 0px;
	padding-top: 8px;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: rgba(153, 0, 51, 0.8);
	border-color: transparent;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border-color: transparent;
}

.itemDefaultSelected-1UAWLe,
.itemBrandSelected-3LxxzT,
#bd-settings-sidebar .ui-tab-bar-item.selected,
.buttonBrandFilled-3Mv0Ra,
.themeDefault-3M0dJU.valueChecked-3Bzkbm,
.barFill-18ABna,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.bd-pfbtn,
.ui-standard-sidebar-view .bda-slist .bda-right button {
	background-color: rgba(153, 0, 51, 0.8);
	color: #FFF;
}

.buttonBrandFilled-3Mv0Ra:hover {
	background: rgba(153, 0, 51, 0.8) !important;
}

.itemBrand-mC9YR4 {
	color: rgba(153, 0, 51, 0.8);
}

.itemDanger-3m3dwx {
	color: #FFF;
	background-color: rgb(153, 0, 51);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span,
.themeClear-1NqU69.valueChecked-3Bzkbm,
.tab-bar .tab-bar-item.tab-bar-item-primary,
.tab-bar .tab-bar-item.selected,
.chat .new-messages-bar {
	background-color: rgba(153, 0, 51, 0.8) !important;
	border-color: rgba(153, 0, 51, 0.8);
  color: #FFF !important;
}

.mention { color: rgba(153, 0, 51, 0.8) }
.mention:hover { color: #FFF; background: rgba(153, 0, 51, 0.8) !important; }
.sidebar-region .sidebar { padding-bottom: 0px !important; }

.popout-menu .popout-menu-separator {
		border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(153, 0, 51, 0.8);
}

.popout-menu .popout-menu-item:hover {
	background: rgba(153, 0, 51, 0.8) !important;
	color: #fff !important;
}

.theme-dark .listRow-1wEi-U:hover,#user-profile-modal .guilds .section+.section,#user-profile-modal .avatarWrapper-2Gfmp1, #user-profile-modal .scroller,#user-profile-modal .avatar-wrapper,#user-profile-modal .empty,#user-profile-modal .tab-bar-container,#user-profile-modal .header:after,.userPopout-4pfA0d,#user-profile-modal .header,.userPopout-4pfA0d {
	background-image: url(https://i.imgur.com/gztxcGb.jpg);
	background-size: cover !important;
	background-position: center !important;
	border: none!important;
}

.quick-message {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    background: rgba(188, 254, 253, 0.4) !important;
    color: #FFF;
}

.headerNormal-1cioxU, .body-3rkFrF, .footer-2J5zqP {
   background: rgba(100, 79, 79,0.6) !important;
}
.headerPlaying-2eYqm9 {
    background: rgba(100, 79, 79,0.6) !important;
}
.theme-dark .connectedAccount-3mKaTA {
   background: #564343  !important;
   border: 3px solid rgba(255,255,255,0.5);
}

.message-group .comment .markup pre code, /* Multi Line Code Block */
.message-group .comment .markup code.inline /* Inline Code Block */ {
	background-color: rgba(153, 0, 51, 0.3) !important;
}

.message-group .comment .markup pre code /* Multi Line Code Block */ {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #990033 !important;
  padding: 0 !important;
}

.item-2zi_5J[style*="background-color: rgb(114, 137, 218);"] { /* Radio Buttons */
	background-color: rgba(153, 0, 51, 0.8) !important;
	border-color: rgba(153, 0, 51, 0.8) !important;
}

.checkbox-1QwaS4[style*="border-color: rgb(114, 137, 218);"] { /* Check Box in The Radio Buttons */
	border-color: rgba(153, 0, 51, 0.8) !important;
}

.checkbox-1QwaS4[style*="border-color: rgb(114, 137, 218);"] polyline { /* Tick in the Check Box */
	stroke: rgba(153, 0, 51, 0.8) !important;
}

.itemDefault-3NDwnY:hover, /* Settings Normal Button */
.itemBrand-mC9YR4:hover, /* Discord Nitro Button*/
.ui-tab-bar-item:hover /* Better Discord Settings Button */{
	color: #FFF; background: rgba(153, 0, 51, 0.8) !important;
}

.ui-standard-sidebar-view #bd-customcss-attach-controls button {
	background-color: rgba(153, 0, 51, 0.8) !important;
	border-color: rgba(153, 0, 51, 0.8) !important;
}

.ui-standard-sidebar-view .bda-slist li,
.content-region .CodeMirror,
.content-region #bd-customcss-attach-controls {
	background-color: rgba(153, 0, 51, 0.3) !important;
}

.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
	background-color: rgba(153, 0, 51, 0.25);
}
